body{
	background-color:orange; 
	text-align:center;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#High {
	height:300px;
	width: 300px;
	background-color: green;
}

#Low {
	height:300px;
	width: 300px;
	background-color: red;
}

#RightNumber{
	height:300px;
	width: 300px;
	background-color: pink;

}



.play-again-button {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.play-again-button:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

